<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>test number 2</h1> -->
    <div class="container">  

    <h3>Create a User</h3>

<form action='/process' method='post'>

    <label for='name'>Name:</label>
    <input type='text' name='name'>
    <br>

    <label for='dojoloc'>Dojo:</label>
    <input type='text' name='dojo'>
    <br>
    <label for='language'>Favorite Language:</label>
    <input type='text' name='language'>
    <br>
    <label for="comments">Comments:</label>
    <input type="text" name="comments">
    <br>
    <input type='submit' value='create user'>


</form>
    </div>

</body>
</html>