<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>test route for ninjas</h1>


    <form action="/ninja/new" method="POST">
        <label for="dojo_id"> Please select a Dojo </label>
        <select name="dojo_id">
        {% for dojo in all_dojos %}
          <option value="{{dojo.id}}">{{dojo.name}}</option>
        {% endfor %}
        </select>


        <br>
        First Name:
        <input type="text" name="first_name"><br>
        
        
        
        Last Name:
        <input type="text" name="last_name"><br>
        
        
        Age:
        <input type="number" name="age"><br>
        <input type="submit">

    </form>
</body>
</html>