<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>Login and Registration</title> 
    <a href="/logout">Logout</a>
    <a href="/create/recipe">New Recipe</a>
    <p>welcome {{ user.first_name }}</p>
    {% for recipe in all_recipes %}
    <h2>Recipes</h2>
    <p>Recipe Name: {{ recipe.name }}</p>
    <p>Under 30 Min : {{ recipe.under_thirty_min }}</p>
    <p>cook: {{ recipe.cook.first_name }}</p>
    {% if user.id == recipe.cook.id %}
    <h2>
    <a href="/edit/recipe/{{ recipe.id }}">Edit</a> <a href="/delete/recipe/{{ recipe.id }}">Delete</a><br>
    <a href="/view/recipe/{{ recipe.id }}">View recipe</a>
    </h2>
    {% endif %}

    {% endfor %}


    <h1></h1>
</body>
</html>